<h2 mat-dialog-title>
  {{ "pseudonym-editor.title" | translate }}
</h2>

<mat-dialog-content>
  <mat-form-field>
    <input
      appAccessibilityEscapedInput
      matInput
      [formControl]="questionerNameFormControl"
      [placeholder]="'pseudonym-editor.name' | translate"
      name="questioner-name"
      [maxlength]="questionerNameMax"
      aria-labelledby="questioner-name" />
    <mat-hint align="end">
      <span aria-hidden="true">
        {{ questionerNameFormControl.value.length }} / {{ questionerNameMax }}
      </span>
    </mat-hint>
    <mat-error
      *ngIf="
        questionerNameFormControl.hasError('minlength') ||
        questionerNameFormControl.hasError('maxlength')
      ">
      {{
        "write-comment.name-length-error"
          | translate: { min: questionerNameMin, max: questionerNameMax }
      }}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      {{ "pseudonym-editor.deepl" | translate }}
    </mat-label>
    <mat-select [(ngModel)]="selectedFormality">
      <mat-option value="">
        {{ "deepl-formality-select.default" | translate }}
      </mat-option>
      <mat-option value="less">
        {{ "deepl-formality-select.less" | translate }}
      </mat-option>
      <mat-option value="more">
        {{ "deepl-formality-select.more" | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    class="secondary-button"
    mat-dialog-close>
    {{ "pseudonym-editor.cancel" | translate }}
  </button>
  <button
    mat-stroked-button
    class="primary-button"
    (click)="accept()">
    {{ "pseudonym-editor.update" | translate }}
  </button>
</mat-dialog-actions>
