<ng-template #nextButton>
  <button
    mat-stroked-button
    class="primary-button"
    (click)="handle($event, 1)">
    {{ "joyride.next" | translate }}
  </button>
</ng-template>
<ng-template #prevButton>
  <button
    mat-button
    class="secondary-button"
    (click)="handle($event, -1)">
    {{ "joyride.prev" | translate }}
  </button>
</ng-template>
<ng-template #doneButton>
  <button
    mat-stroked-button
    class="primary-button"
    (click)="finish()">
    {{ "joyride.done" | translate }}
  </button>
</ng-template>
<ng-template
  #counter
  let-step="step"
  let-total="total">
  {{ "joyride.step" | translate: { step: step, total: total } }}
</ng-template>
