@use "sass:math";

.mat-mdc-unelevated-button:not(:disabled) {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
  --mat-filled-button-state-layer-color: var(
    --md-sys-color-on-secondary-container
  );
  --mat-filled-button-ripple-color: color-mix(
    in srgb,
    var(--mat-filled-button-state-layer-color) 12%,
    transparent
  );
}

.mat-mdc-button:not(:disabled) {
  color: var(--md-sys-color-on-surface-variant);
  --mat-text-button-state-layer-color: var(--md-sys-color-on-surface-variant);
  --mat-text-button-ripple-color: color-mix(
    in srgb,
    var(--mat-text-button-state-layer-color) 12%,
    transparent
  );
}

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &.collapsed {
    align-items: center;
  }
}

.m3-nav-label-collapsed {
  margin-top: 4px;
  text-align: center;
  word-break: break-word;
  white-space: normal;
  hyphens: auto;
}

$max-collapsed-height: 300px;
$max-collapsed-width: 300px;
.mat-mdc-button-base {
  height: 56px;
  padding: 0 24px 0 16px !important;

  &.collapsed {
    min-width: 56px;
    width: 56px;
    height: 32px;
    padding-inline: 16px !important;

    .mat-icon {
      margin-right: unset;
    }

    > ::ng-deep .mat-mdc-button-touch-target {
      transform: translateY(
        calc(-50% + #{math.div($max-collapsed-height - 32px, 2)})
      );
      width: #{$max-collapsed-width};
      height: #{$max-collapsed-height};
      left: calc(50% - #{math.div($max-collapsed-width, 2)});
    }
  }

  > ::ng-deep .mat-mdc-button-touch-target {
    height: 56px;
  }

  > ::ng-deep .mdc-button__label {
    width: 100%;
    display: inline-flex;
    align-items: center;

    > .mat-icon {
      font-size: 24px;
      width: 1em;
      height: 1em;
      margin-right: 8px;
      min-width: 1em;
    }

    > .m3-nav-label-expanded {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    > .m3-nav-label-end {
      padding-left: 12px;
      margin-left: auto;
    }
  }
}
