app-custom-markdown ::ng-deep {
  ol {
    padding-inline-start: 1.5em;
  }
}

mat-icon {
  margin-right: 15px;
  overflow: visible;
}

mat-expansion-panel {
  background-color: var(--dialog);
  color: var(--on-dialog);

  &.WARNING {
    border: 1px solid var(--yellow);
  }

  &.ERROR {
    border: 1px solid var(--red);
  }

  &.INFO {
    border: 1px solid var(--blue);
  }

  margin: 4px;
  padding: 0;

  mat-expansion-panel-header {
    background-color: var(--dialog);
    color: var(--on-dialog);
  }

  mat-panel-title {
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--on-dialog);
  }

  mat-panel-description {
    justify-content: end;
    color: var(--on-dialog);
  }
}
