.button {
  &-cancel {
    background-color: transparent;
    color: var(--on-dialog);

    &:hover {
      outline: var(--cancel) solid 2px;
    }
  }

  &-secondary {
    background-color: transparent;
    color: var(--secondary);
    outline: var(--secondary) solid 2px;

    &:hover {
      background-color: var(--secondary);
      color: var(--on-secondary);
    }

    &-filled {
      background-color: var(--secondary);
      color: var(--on-secondary);

      &:hover {
        background-color: var(--secondary);
        color: var(--on-secondary);
      }
    }
  }

  &-primary {
    background-color: transparent;
    color: var(--primary);
    outline: var(--primary) solid 2px;

    &:hover {
      background-color: var(--primary);
      color: var(--on-primary);
    }

    &-filled {
      background-color: var(--primary);
      color: var(--on-primary);

      &:hover {
        background-color: var(--primary);
        color: var(--on-primary);
      }
    }
  }
}
