.high {
  color: var(--md-sys-color-highlight-red);
  transform: scale(1.5);
}

.medium {
  color: var(--md-sys-color-highlight-yellow);
  transform: scale(1.5);
}

.low {
  color: var(--md-sys-color-highlight-green);
  transform: scale(1.5);
}
