@import "../style/layout.scss";

//:host {
//  display: flex;
//  flex-direction: row;
//  height:100%;
//}
//
//.app-left-nav {
//  width:80px;
//}
//
//.app-container {
//  flex-grow: 1;
//}
//
//.app-content-container{
//  display:flex;
//}
//
//.app-header {
//  height:80px;
//  position:sticky;
//  top:0;
//}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header,
footer {
  position: fixed;
  width: 100vw;
  z-index: 1;
  transition: transform 0.5s ease-in-out;
}

header {
  left: 0;
  top: 0;

  &.hide {
    transform: translateY(-100%);
  }
}

footer {
  bottom: 0;
  left: 0;

  &.hide {
    transform: translateY(100%);
  }
}

#scroll_container {
  padding-top: $header-height;
  padding-bottom: $footer-height;
  height: calc(100dvh - #{$header-height} - #{$footer-height});
  overflow-y: auto;
  overflow-x: hidden;
}
