h1 {
  font-size: 2em;
}

h2 {
  font-size: large;
}

div {
  color: var(--on-surface);
}

.mat-mdc-raised-button {
  background-color: var(--primary);
  color: var(--on-primary);
}

.mat-mdc-outlined-button {
  color: var(--on-surface);
}

.mat-mdc-dialog-title {
  outline: none;
  font-size: 20px !important;
  font-weight: bold;
}
