@use "@angular/material" as mat;

$high-contrast-primary: mat.define-palette(mat.$purple-palette, 500);
$high-contrast-accent: mat.define-palette(
  mat.$amber-palette,
  200
); //$mat-purple-gray, A200, A100, A400);

$high-contrast-warn: mat.define-palette(mat.$red-palette, A100);

$high-contrast-theme: mat.define-light-theme(
  $high-contrast-primary,
  $high-contrast-accent,
  $high-contrast-warn
);

$high-contrast-theme-map: (
  "--primary": "white",
  "--primary-variant": "DarkSlateGray",

  "--secondary": "white",
  "--secondary-variant": "DarkSlateGray",

  "--background": "#121212",
  "--surface": "#1e1e1e",
  "--dialog": "#000000",
  "--cancel": "red",
  "--alt-surface": "#323232",
  "--alt-dialog": "#455a64",

  "--on-primary": "#141414",
  "--on-secondary": "black",
  "--on-primary-variant": "#FFFFFF",
  "--on-background": "#FFFFFF",
  "--on-surface": "#FFFFFF",
  "--on-dialog": "#FFFFFF",
  "--on-cancel": "black",

  "--green": "green",
  "--red": "red",
  "--white": "#ffffff",
  "--yellow": "yellow",
  "--blue": "#3833e9",
  "--purple": "purple",
  "--magenta": "#ea0a8e",
  "--light-green": "#33e98d",
  "--grey": "slategrey",
  "--grey-light": "darkgray",
  "--black": "black",
  "--moderator": "black",

  "--questionwall-intro-primary": "darkorange",
  "--questionwall-intro-secondary": "#eadabf",
  "--questionwall-intro-background": "#121212",

  "--livepoll-primary": "#3833e9",
  "--livepoll-primary--disabled": "#282934",
  "--livepoll-primary--hover": "#E6E5FC",
  "--on-livepoll-primary": "#ffffff",
  "--on-livepoll-primary--disabled": "#c5c5c5",
  "--on-livepoll-primary--hover": "#282934",

  "--livepoll-secondary": "#ff8e00",
  "--livepoll-secondary--disabled": "#5f5f64",
  "--livepoll-secondary--hover": "#FFF1DF",
  "--on-livepoll-secondary": "#ffffff",
  "--on-livepoll-secondary--disabled": "#c5c5c5",
  "--on-livepoll-secondary--hover": "#282934",
);

.mat-mdc-dialog-container {
  color: var(--on-surface) !important;
}

.mat-mdc-dialog-container h3 {
  color: var(--on-surface) !important;
}

.mat-mdc-menu-panel {
  background-color: var(--dialog) !important;
  color: var(--on-dialog) !important;
}

.mat-mdc-menu-panel .mat-mdc-menu-item {
  background-color: var(--dialog) !important;
  color: var(--on-dialog) !important;
}

/*TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
.mat-button-disabled {
  background-color: lightgray !important;
  color: darkslategray !important;
  outline: gray solid 1px !important;
}
