<mat-card appearance="outlined">
  <h3>{{ "chat-gptprompt-preset.title" | translate }}</h3>

  <mat-form-field
    style="width: 100%"
    floatLabel="always">
    <mat-icon
      matPrefix
      class="search-icon"
      style="margin-right: 0.1em">
      search
    </mat-icon>
    <mat-label></mat-label>
    <input
      placeholder="{{ 'chat-gptprompt-preset.search-prompt' | translate }}"
      autofocus
      type="text"
      matInput
      [matAutocomplete]="auto"
      [(ngModel)]="searchTerm"
      (input)="filterPrompts()" />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let prompt of filteredPrompts"
        [value]="prompt.act"
        (click)="setValue(prompt)"
        class="mat-option"
        [ngClass]="{
          'mat-option-header': prompt.act === 'acts' || prompt.act === 'prompts'
        }"
        [disabled]="prompt.prompt === null">
        <ng-container *ngIf="prompt.act !== null && prompt.prompt !== null">
          {{ "(" + prompt.language + ") " + prompt.act }}
        </ng-container>
        <ng-container *ngIf="prompt.act === 'acts' && prompt.prompt === null">
          <div class="counter-container">
            <span>
              {{
                "chat-gptprompt-preset.found-acts"
                  | translate: { count: amountOfFoundActs }
              }}
            </span>
          </div>
        </ng-container>
        <ng-container
          *ngIf="prompt.act === 'prompts' && prompt.prompt === null">
          <div class="counter-container">
            <span>
              {{
                "chat-gptprompt-preset.found-prompts"
                  | translate: { count: amountOfFoundPrompts }
              }}
            </span>
          </div>
        </ng-container>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ "chat-gptprompt-preset.language" | translate }}</mat-label>
    <mat-select [(ngModel)]="language">
      <mat-option
        *ngFor="let lang of languages"
        [value]="lang">
        {{ "chat-gptprompt-preset.lang." + lang | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ "chat-gptprompt-preset.advanced-settings" | translate }}
      </mat-panel-title>
      <mat-panel-description>
        {{ "chat-gptprompt-preset.advanced-settings-info" | translate }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
      <mat-label>
        {{ "chat-gptprompt-preset.advanced-setting-temperature" | translate }}
      </mat-label>
      <input
        appAccessibilityEscapedInput
        matInput
        [(ngModel)]="temperature"
        inputmode="numeric"
        type="number"
        min="0"
        max="2"
        step="0.01" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        {{
          "chat-gptprompt-preset.advanced-setting-presence-penalty" | translate
        }}
      </mat-label>
      <input
        appAccessibilityEscapedInput
        matInput
        [(ngModel)]="presencePenalty"
        inputmode="numeric"
        type="number"
        min="-2"
        max="2"
        step="0.01" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        {{
          "chat-gptprompt-preset.advanced-setting-frequency-penalty" | translate
        }}
      </mat-label>
      <input
        appAccessibilityEscapedInput
        matInput
        [(ngModel)]="frequencyPenalty"
        inputmode="numeric"
        type="number"
        min="-2"
        max="2"
        step="0.01" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        {{ "chat-gptprompt-preset.advanced-setting-top-p" | translate }}
      </mat-label>
      <input
        appAccessibilityEscapedInput
        matInput
        [(ngModel)]="topP"
        inputmode="numeric"
        type="number"
        min="0"
        max="1"
        step="0.01" />
    </mat-form-field>
    <button
      mat-button
      (click)="
        temperature = 0.7; presencePenalty = 0; frequencyPenalty = 0; topP = 1
      "
      class="secondary-btn">
      {{ "chat-gptprompt-preset.advanced-setting-reset" | translate }}
    </button>
  </mat-expansion-panel>

  <!-- TODO:
  <app-view-comment-data
    [currentData]="initDelta"
    [textOverwrite]="'chat-gptprompt-preset.token-info' | translate : tokenInfo"
    (changeContent)="calculateTokens(getCurrentText())"
    [isModerator]="false"
    [isBrainstorming]="false"
    [isEditor]="true"
    [maxTextCharacters]="1000"
    [maxDataCharacters]="2000"
    [placeHolderText]="
      'chat-gptprompt-preset.placeholder-edit-preset' | translate
    "></app-view-comment-data> -->

  <app-dialog-action-buttons
    buttonsLabelSection="chat-gptprompt-preset"
    confirmButtonLabel="save"
    cancelButtonLabel="delete"
    [cancelButtonClickAction]="onDelete"
    [confirmButtonClickAction]="onSave"></app-dialog-action-buttons>
</mat-card>
