@use "@angular/material" as mat;

$dark-primary: mat.define-palette(mat.$blue-gray-palette, 800);
$dark-accent: mat.define-palette(mat.$orange-palette, 200);
$dark-warn: mat.define-palette(mat.$red-palette, A200);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

a {
  text-decoration: underline;
  color: var(--on-surface);
}

.mat-mdc-dialog-container {
  color: var(--on-surface) !important;
}

.mat-mdc-dialog-container h3 {
  color: var(--on-surface) !important;
}

.mat-mdc-menu-panel {
  background-color: var(--primary-variant) !important;
  color: var(--on-primary-variant) !important;
}

.mat-mdc-menu-panel .mat-mdc-menu-item {
  background-color: var(--dialog) !important;
  color: var(--on-dialog) !important;
}

.mat-mdc-menu-panel .mat-mdc-menu-item:hover {
  background-color: gray !important;
  color: white !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
.mat-radio-outer-circle {
  border-color: var(--on-dialog) !important;
}

.mat-mdc-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent
  .mat-radio-ripple
  .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: var(--on-dialog) !important;
}
