<div>
  <form (ngSubmit)="joinRoom(sessionCode.value)">
    <div
      [joyrideStep]="'roomJoin'"
      [stepPosition]="'top'"
      appJoyrideTemplate>
      <mat-form-field>
        <input
          id="session_id-input"
          matInput
          #sessionCode
          appAccessibilityEscapedInput
          type="text"
          maxlength="30"
          [formControl]="sessionCodeFormControl"
          [placeholder]="'home-page.session-id' | translate"
          [errorStateMatcher]="matcher"
          aria-labelledby="join-input-label" />
        <mat-error
          *ngIf="sessionCodeFormControl.hasError('required')"
          aria-hidden="true">
          {{ "home-page.please-enter" | translate }}
        </mat-error>
      </mat-form-field>
      <button
        [disabled]="!sessionService.isReady"
        id="session_enter-button"
        mat-icon-button
        type="submit"
        aria-labelledby="join-button-label">
        <mat-icon>input</mat-icon>
      </button>
    </div>
  </form>
</div>

<div class="visually-hidden">
  <div id="join-input-label">
    {{ "home-page.accessibility-join-input" | translate }}
  </div>
  <div id="join-button-label">
    {{ "home-page.accessibility-join-button" | translate }}
  </div>
</div>
